<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">

    <title>Bank</title>
</head>
<body>
    <form action="{{ url_for('insert_transaction') }}" method="POST">
        <p>Value <input type="text" name="value"></p>
        <p>Type <input type="text" name="type"></p>
        <p>Category <input type="text" name="category"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
